@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Rajdhani';
  src: local('Rajdhani'), url(./fonts/Rajdhani-Regular.ttf) format('ttf');
}


@tailwind utilities;

@layer components {
  /* Separate
    ======================================================================== */




  .separate {
    @apply flex items-center text-center;
  }

  .separate::after,
  .separate::before {
    content: '';
    @apply border-b border-gray-300 flex-1;
  }

  .separate:not(:empty)::after {
    @apply ml-2;
  }

  .separate:not(:empty)::before {
    @apply mr-2;
  }
}
